<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>katy ralko &raquo; {{ page.title }}</title>
   <meta name="author" content="Katy Ralko" />
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="container_12">
    <div class="grid_4 prefix_2 title">
      <h1><a href="/">katy ralko</a></h1>
    </div>
    <div class="grid_4 suffix_2 info">
      <div class="extra">portfolio</div>
    </div>
    <div class="grid_8 prefix_2 suffix_2 main">
      {{ content }}
    </div> 
    <div class="grid_2 prefix_2 links">
      <h3 id="green">film</h3>
      {% for post in site.categories.film %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 links">
      <h3 id="yellow">food</h3>
      {% for post in site.categories.food %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>   
    <div class="grid_12 footer">
      <div class="footer_links">
        <a href="/about.html">about</a>
        <a href="http://twitter.com/katythebear">twitter</a>
      </div>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a>
      </div>
</body>
</html>
